# Copy this file to application.properties and fill in your values

daygenie.jwt.secret=YOUR_JWT_SECRET

spring.datasource.url=DB_CONNECTION
spring.datasource.username=USERNAME
spring.datasource.password=PASSWORD
spring.datasource.url=org.postgresql.Driver

jwt.secret=YOUR_SECRET

openweather.api.key=YOUR_OPENWEATHER_KEY

openrouteservice.api.key=YOUR_OPENROUTESERVICE_API_KEY